@import '../variables/colorPallete';

.category-card {
    margin-top: 10px;
    background-color: $color-surface-darkest;
    width: 400px;
    &__header {
        &-overlay {
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 10px;
            overflow: hidden;

            .category-card__title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &__actions {
        .category-card__icon {
            width: 25px;
        }

        .category-card__menu {
            position: absolute;
            background-color: $color-surface-dark;

            li {
                padding: 5px;
                cursor: pointer;
            }
        }
    }

    &__body {
        padding: 10px;
    }
}

