/** PRIMARY COLORS */
/** SURFACE COLORS */
/** MIXED SURFACE COLORS */
/* NEW PALLETE */
/** PRIMARY COLORS */
/** SURFACE COLORS */
/** MIXED SURFACE COLORS */
/* NEW PALLETE */
.task-prompt {
  margin: 0 auto;
  z-index: 100;
  position: absolute;
  top: 50%;
  bottom: 50%;
  background-color: #252424;
  padding: 20px;
  width: clamp(300px, 80%, 500px);
}
.task-prompt .task-prompt__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.task-prompt .task-prompt__header__icon {
  width: 30px;
  margin-right: 10px;
}
.task-prompt__section {
  margin-top: 10px;
  padding: 5px;
}
.task-prompt__section label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.task-prompt__section input[type=text] {
  background-color: #282828;
  border-bottom: 1px solid #76737e;
  width: 100%;
  padding: 15px 10px;
  outline: none;
  height: 40px;
  border-radius: 0;
}
.task-prompt__section input[type=text]:focus {
  border-bottom: 1px solid #908d96;
}
.task-prompt__section textarea {
  background-color: #282828;
  width: 100%;
  padding: 10px 5px;
  overflow: hidden;
  outline: none;
  border-bottom: 1px solid #76737e;
  height: 40px;
  border-radius: 0;
}
.task-prompt__section textarea:focus {
  border-bottom: 1px solid #908d96;
}
.task-prompt__section__due-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.task-prompt__section__due-date .task-prompt__input__date {
  grid-column: 1;
  grid-row: 2;
}
.task-prompt__section__due-date .task-prompt__input__time {
  grid-column: 2;
  grid-row: 2;
}
.task-prompt__section__priority .task-prompt__priority-button {
  background-color: #282828;
  width: 80px;
  font-size: 18px;
  padding: 10px 5px;
  margin-right: 10px;
}
.task-prompt__section__priority .task-prompt__priority-button.selected {
  color: #252424;
  background-color: #9171f8;
}
.task-prompt__section__priority .task-prompt__priority-button:hover {
  cursor: pointer;
  background-color: #575757;
}
.task-prompt__actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.task-prompt__submit-button {
  margin-left: 0 auto;
  background-color: #9171f8;
  color: #252424;
  font-size: 18px;
  padding: 10px 12px;
}
.task-prompt__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.task-prompt__cancel-button {
  background-color: transparent;
  font-size: 18px;
  padding: 10px 12px;
  border: 1px solid #9171f8;
  color: #9171f8;
}
.task-prompt__cancel-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

/** PRIMARY COLORS */
/** SURFACE COLORS */
/** MIXED SURFACE COLORS */
/* NEW PALLETE */
.task-card {
  background-color: #252424;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 10px;
  position: relative;
}
.task-card__header {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
.task-card__info {
  display: grid;
}
.task-card__name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-card__due-date {
  color: rgb(189, 179, 179);
}
.task-card__due-date--near-due {
  color: #f39c12;
}
.task-card__due-date--overdue {
  color: #e74c3c;
}
.task-card__details {
  display: flex;
  gap: 5px;
}
.task-card__badge {
  background-color: gray;
  padding: 5px;
  height: 100%;
  text-align: center;
}
.task-card__badge__priority--high {
  background-color: #e74c3c;
}
.task-card__badge__priority--medium {
  background-color: #f39c12;
}
.task-card__badge__priority--low {
  background-color: #2ecc71;
}
.task-card__more-options-icon {
  width: 27px;
}
.task-card__more-options-menu {
  position: absolute;
  background-color: #282828;
  right: -90px;
}
.task-card__more-options-menu ol li {
  width: 100%;
  padding: 10px 5px;
}
.task-card__more-options-menu ol li:hover {
  background-color: #7a5af5;
}
.task-card__description {
  margin-top: 10px;
  color: rgb(146, 136, 136);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** PRIMARY COLORS */
/** SURFACE COLORS */
/** MIXED SURFACE COLORS */
/* NEW PALLETE */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1d1c1c;
  height: 100vh;
  padding: 10px;
  width: 300px;
}
.sidebar a {
  display: grid;
  gap: 10px;
  grid-template-columns: 30px 1fr;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 5px;
  white-space: nowrap;
}
.sidebar a p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar a .sidebar__button--icon {
  justify-self: center;
  width: 25px;
}
.sidebar a span {
  display: block;
  justify-self: center;
  height: 10px;
  width: 10px;
}
.sidebar a:hover {
  background-color: #252424;
}

/** PRIMARY COLORS */
/** SURFACE COLORS */
/** MIXED SURFACE COLORS */
/* NEW PALLETE */
.category-card {
  margin-top: 10px;
  background-color: #1d1c1c;
  width: 400px;
}
.category-card__header-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  overflow: hidden;
}
.category-card__header-overlay .category-card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-card__actions .category-card__icon {
  width: 25px;
}
.category-card__actions .category-card__menu {
  position: absolute;
  background-color: #252424;
}
.category-card__actions .category-card__menu li {
  padding: 5px;
  cursor: pointer;
}
.category-card__body {
  padding: 10px;
}

body {
  background-color: #282828;
}

#root {
  display: grid;
}

main {
  position: relative;
  padding: 20px;
  margin-left: 300px;
  width: calc(100% - 320px);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  transition: all 0.15s;
  border-radius: 4px;
  box-sizing: border-box;
}

p, textarea, input, label {
  font-size: 18px;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

textarea {
  resize: none;
}

.todoListContainer {
  display: grid;
  gap: 10px;
}

button {
  border: none;
  background-color: transparent;
}/*# sourceMappingURL=index.css.map */