/** PRIMARY COLORS */
$color-primary-darkest: #382bf0;   // Strong, vibrant blue
$color-primary-dark: #5e43f3;      // Lighter blue
$color-primary: #7a5af5;           // Medium blue
$color-primary-light: #9171f8;     // Pale blue
$color-primary-lighter: #a688fa;   // Very light blue
$color-primary-lightest: #ba9ffb;  // Soft blue

/** SURFACE COLORS */
$color-surface-darkest: #1d1c1c;
$color-surface-dark: #252424;    
$color-surface-medium-dark: #282828;
$color-surface-medium: #575757;   
$color-surface-light: #717171;    
$color-surface-lightest: #8b8b8b;  

/** MIXED SURFACE COLORS */
$color-surface-mixed-darkest: #1a1625;   
$color-surface-mixed-dark: #2f2b3a;      
$color-surface-mixed-medium-dark: #46424f;
$color-surface-mixed-medium: #5e5a66;
$color-surface-mixed-light: #76737e; 
$color-surface-mixed-lightest: #908d96;

/* NEW PALLETE */
