@import '../variables//colorPallete';

.task-prompt {
    margin: 0 auto;
    z-index: 100;
    position: absolute;
    top: 50%;
    bottom: 50%;
    background-color: $color-surface-dark;
    padding: 20px;
    width: clamp(300px, 80%, 500px);
    .task-prompt__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &__icon {
            width: 30px;
            margin-right: 10px;
        }
    }

    &__form {

    }

    &__section {
        margin-top: 10px;
        padding: 5px;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        input[type='text'] {
            background-color: $color-surface-medium-dark;
            border-bottom: 1px solid $color-surface-mixed-light;
            width: 100%;
            padding: 15px 10px;
            outline: none;
            height: 40px;
            border-radius: 0;
            &:focus {
                border-bottom: 1px solid $color-surface-mixed-lightest;
            }
        }
        textarea {
            background-color: $color-surface-medium-dark;
            width: 100%;
            padding: 10px 5px;
            overflow: hidden;
            outline: none;
            border-bottom: 1px solid $color-surface-mixed-light;
            height: 40px;
            border-radius: 0;
            &:focus {
                border-bottom: 1px solid $color-surface-mixed-lightest;
            }
        }
        &__due-date {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            column-gap: 10px;
            
            .task-prompt__input__date {
                grid-column: 1;
                grid-row: 2;
            }
            .task-prompt__input__time {
                grid-column: 2;
                grid-row: 2;
            }
        }
        &__priority {
            .task-prompt__priority-button {
                background-color: $color-surface-medium-dark;
                width: 80px;
                font-size: 18px;
                padding: 10px 5px;
                margin-right: 10px;
                &.selected {
                    color: $color-surface-dark;
                    background-color: $color-primary-light;
                }
                &:hover {
                    cursor: pointer;
                    background-color: $color-surface-medium;
                }
            }
        }
    }
    
    &__actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
    &__submit-button {
        margin-left: 0 auto;
        background-color: $color-primary-light;
        color: $color-surface-dark;
        font-size: 18px;
        padding: 10px 12px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &__cancel-button {
        background-color: transparent;
        font-size: 18px;
        padding: 10px 12px;
        border: 1px solid $color-primary-light;
        color: $color-primary-light;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}
